<table mat-table [dataSource]="Classe" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Nome da Classe Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Classe </th>
    <td mat-cell *matCellDef="let classes"> {{classes.nome}} </td>
  </ng-container>

  <!-- Pericias Column -->
  <ng-container matColumnDef="pericias">
    <th mat-header-cell *matHeaderCellDef> Pericias </th>
    <td mat-cell *matCellDef="let classes"> {{classes.pericias}} </td>
  </ng-container>

  <!-- Ações Column -->
  <ng-container matColumnDef="botoes">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef=""> <button mat-icon-button color="primary" aria-label="">
      <mat-icon>edit</mat-icon>
    </button> <button mat-icon-button color="warn" aria-label="">
      <mat-icon>delete</mat-icon>
    </button></td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

