.gerais{
  background-color: aquamarine;
}
.atributos{
  background-color: aliceblue;
}
.outros{
  background-color: azure;
}

.botoes{
  background-color: aquamarine;
}

button{
  margin-left: 10px;
  margin-right: 10px;
}
